.wp-block-create-block-custom-image {
    display: block;
    max-width: 100%;
    box-sizing: border-box;
}

.wp-block-create-block-custom-image img {
    width: 100%;
    height: auto;
}

.wp-block-create-block-custom-image.figcaption {
    text-align: center;
}

.portrait {
    border: 1px solid red;
}

.landscape {
    border: 1px solid green;
}